/* Keep background consistent throughout portfolio */
.background {
  background-image: url(../assets/images/firework.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden; /* prevents scrolling vertically & horizontally */
}
