/* Home Screen Nav Bar */
.homeContainer {
    display: flex; /* Flexbox layout */
    align-items: center; /* Aligns items vertically centered */
    justify-content: space-between; /* Space between title and nav */
    height: 100vh; /* Set container height */
    padding: 0 20px; /* Horizontal padding */
}

.homeNav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50vw;
    height: 100vh;
    /*position:absolute;
    right: 0;*/
    padding-right: 20px;
    box-sizing: border-box;
    margin-left: 250px;
}

.homeNav ul {
    list-style-type: none;
}

.homeNav li {
    margin-bottom: 25px;
}

.homeNav a {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-size: 50px;
}

.homeNav a:hover {
    color: rgb(68, 0, 101);
}

